<div class="card">
    <div class="card-title">
        <ul class="nav nav-pills">
            <li class="active"><h4>1、选择产品目录</h4></li>
            <li><h4>2、填写产品(SPU)信息</h4></li>
            <li><h4>3、添加商品(SKU)</h4></li>
        </ul>
    </div>

    <% form_tag url(:spus, :new), :method => :post do %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label>请选择商品目录</label>
                <%=select_tag :category_1, :options => @categories.where(parent_id: nil).map{|category| [category.name, category.id]}.unshift([nil,nil]),
                              :class => 'form-control', :onchange => 'change_category(this);' %>
            </div>
            <div class="col-xs-12 form-group-row">
                <label>&nbsp;</label>
                <%=select_tag :category_2, :options => [], :class => 'form-control', :id => 'category_2' %>
            </div>
        </div>

        <div class="form-group-row-btn">
            <%= submit_tag '下一步', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>

<% @categories.each do |category| %>
    <%=hidden_field_tag "categoryid_#{category.id}", id: "categoryid_#{category.id}", :value => "#{category.name}", class: "category_class_#{category.parent_id}"%>
<% end %>