/********************
 *** 自定义基础样式 ***
 ********************/

/*
 按样式字母序排序, 依次为
 .btn, .card, .form-group, .pagination, .status, .table
 */

/* .btn 按键 */
.btn { border-radius: 0 !important; }
.btn-submit { color: #fff; background-color: #e12503; border-color: #e12503; }
.btn-submit:hover { color: #fff; background-color: #333; border-color: #333; }
.btn-back { color: #333; background-color: #fff; border-color: #ccc; }
.btn-back:hover { color:#333; background-color:#e6e6e6; border-color:#adadad; }

/* .card 卡片 */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.card-title { display: flex; }
.card-title h4.underline{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    border-image: -webkit-linear-gradient(to right, #e12503, #ffffff) 1 1;
    border-image: -moz-linear-gradient(to right, #e12503, #ffffff) 1 1;
    border-image: linear-gradient(to right, #e12503, #ffffff) 1 1;
}
.card-toolbar{ margin-bottom: 10px; }
/* .modal 模态框 */
.modal-custom .modal-content { border-radius: 0; }
.modal-custom .modal-header { display: flex; justify-content: space-between; align-items: flex-start; border-bottom: none; padding-bottom: 0; }
.modal-custom .modal-header:before, .modal-custom .modal-header:after { content: none; }
.modal-custom h4.underline{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    border-image: -webkit-linear-gradient(to right, #e12503, #ffffff) 1 1;
    border-image: -moz-linear-gradient(to right, #e12503, #ffffff) 1 1;
    border-image: linear-gradient(to right, #e12503, #ffffff) 1 1;
}

/* .form-group */
.form-group-row { display: flex; align-items: center; margin-bottom: 15px; }
.form-group-row label { width: 25%; padding-left: 15px; padding-right: 15px; }
.form-group-row .form-control,
.form-group-row input[type=file]{ width: 75%; }
.form-group-row-btn { margin-left: 25%; }

/* .pagination 分页 */
.pagination { margin: 0; display: flex; }
.pagination span,
.pagination em,
.pagination a {
    font-style: normal;
    color: #333;
    padding: 4px 10px;
    text-decoration: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.pagination span:first-child,
.pagination em:first-child,
.pagination a:first-child { border-left: 1px solid #ddd; }
.pagination em { background-color: #e12503; border-color: #e12503; color: #fff; }
.pagination a:hover { background-color: #eee; }

/* .status 状态标识 */
.status:before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 3px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
}
.status.status-valid:before { background-color: #24caa1; }
.status.status-invalid:before { background-color: #e12503; }

/* .table 表格 */
.table-bordered-y { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.table .action i { padding: 0 1px; }

/************************
 ***** 其他样式分割线 *****
 ************************/