<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-cart-inner">
        <div id="example-basic">
            <h3>Shopping Cart</h3>
            <section>
            </section>
            <h3>Delivery Details</h3>
            <section>
            </section>
            <h3>Payment Details</h3>
            <section>
            </section>
            <h3>Confirmation</h3>
            <section>
            </section>
        </div>
    </div>
</div>
