<div class="card">
    <div class="card-title">
        <h4 class="underline">新增品牌</h4>
    </div>

    <% form_tag url(:categories, :create_brands, :id => @category.id), :method => :post do %>
        <div class="row">
            <div class="col-xs-12 form-group-row">
                <label>品牌名称*</label>
                <%= text_field_tag :brands, :value => params[:brands], :class => 'form-control', :placeholder => "多个品牌以三竖线('|||')分割" %>
            </div>
        </div>
        <div class="form-group-row-btn">
            <%= link_to '返回', 'javascript:history.go(-1);', :class => 'btn btn-back' %>
            <%= submit_tag '提交', :class => 'btn btn-submit' %>
        </div>
    <% end %>
</div>
