<div class="card">
    <div class="card-title">
        <h4 class="underline">财务对账</h4>
    </div>

    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search"></i> 搜索
            </button>
        </div>
    </div>

    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th>订单号</th>
            <th>交易号</th>
            <th>对账状态</th>
            <th>金额</th>
            <th>交易完成时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <% @reconciliation_details.each do |rd| %>
            <tr>

            </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @reconciliation_details %>
</div>

<div class="modal modal-custom fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title underline">搜索栏</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <% form_tag request.path, :method => :get do %>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>交易日期从</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <%= text_field_tag :transaction_date_ge, :value => params[:transaction_date_ge], :class => 'form-control datePicker' %>
                            </div>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>到</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <%= text_field_tag :transaction_date_le, :value => params[:transaction_date_le], :class => 'form-control datePicker' %>
                            </div>
                        </div>
                    </div>

                    <div align="right">
                        <button type="button" class="btn btn-back" data-dismiss="modal">关闭</button>
                        <%= submit_tag '提交', :class => 'btn btn-submit' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
