<div class="card">
    <div class="card-title">
        <ul class="nav nav-pills">
            <li class="active"><h4>修改密码</h4></li>
        </ul>
    </div>

    <% form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => 'form-horizontal' do |f| %>
      <%= partial 'accounts/form', :locals => { :f => f } %>
    <% end %>
</div>
