<div class="card">
    <div class="card-title">
        <h4 class="underline">营销活动列表</h4>
    </div>
    <div class="card-toolbar">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" type="button">
              <a href="<%=url(:activities, :new, :from => 'groups')%>"><i class="fa fa-plus"></i>创建营销活动</a>
            </button>
        </div>
    </div>
    <!-- 表格主体内容 -->
    <table class="table table-condensed table-striped table-bordered-y">
        <thead>
        <tr>
            <th style="width: 85%;">海报</th>
            <th style="width: 10%;"></th>
        </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
                <td><img src="<%=activity.image.try{|i| i.url}%>" style="width: auto;height: 150px"></td>
                <td>
                  <a href="<%=url(:activities, :destroy, :id =>activity.id) %>" title="删除" class="pd-setting-ed">删除</a>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @activities %>
    </div>
</div>