<div class="card">
    <div class="card-title">
        <h4 class="underline">新增采购</h4>
    </div>
    <% form_tag url(:purchases, :preview), :method => :post, multipart: true do |f| %>
    <div class="row">
        <div class="col-xs-12 form-group-row">
            <label>采购说明</label>
            <%= text_field_tag :summary, :value => nil, :class => 'form-control' %>
        </div>
        <div class="col-xs-12 form-group-row">
            <label>上传文件（<a href="/templates/purchase_template.xlsx">模板下载</a>）</label>
            <%= file_field_tag :upload_file, :class => 'form-control' %>
        </div>
    </div>
    <div class="form-group-row-btn">
        <button type="submit" class="btn btn-submit">预览</button>
    </div>
    <% end %>
</div>
